@import "tailwindcss";

@theme {
  --breakpoint-sm: 40rem;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 64rem;
  --breakpoint-xl: 80rem;
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }
}

/* ===== MOBILE PRINT FIX ===== */
@media print {
  @page {
    size: A4;
    margin: 20mm;
  }

  html, body {
    width: 794px;
    min-width: 794px;
    background: white;
  }

  .invoice-print {
    width: 794px !important;
  }

  .invoice-mobile {
    display: none !important;
  }

  .invoice-table {
    display: block !important;
  }

  table {
    page-break-inside: avoid;
  }
}

